[*]
charset=utf-8

[.{editorconfig,gitattributes,gitignore,kateconfig}]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[{CHANGELOG,COPYING,README,configure.ac}]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[Makefile*]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[*.{c,cpp,h,m4,pl,py,sh,spec,svg}]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[*.{cmd,sln}]
end_of_line=crlf
indent_style=tab
insert_final_newline=true

[*.rc]
end_of_line=crlf
indent_style=space
indent_size=4
insert_final_newline=true

[*.{nsh,nsi,vcxproj,vcxproj.filters}]
end_of_line=crlf
indent_style=space
indent_size=2
insert_final_newline=true

# Specific files

[scorched/{depcomp,missing}]
end_of_line=lf
indent_style=space
indent_size=2
insert_final_newline=true

[scorched/install-sh]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[scorched/mkinstalldirs]
end_of_line=lf
indent_style=space
indent_size=3
insert_final_newline=true

[scorched/Microsoft.VC100.CRT.manifest]
end_of_line=crlf
indent_style=space
indent_size=3
insert_final_newline=true

[/scorched/documentation/*.txt]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[scorched/scripts/{createDmg,framewk.sh}]
end_of_line=cr
indent_style=tab
insert_final_newline=true
