[*]
charset=utf-8

# Project support

[.{clang-format,clang-uml}]
end_of_line=lf
indent_style=space
indent_size=2
insert_final_newline=true

[.{editorconfig,git-blame-ignore-revs,gitattributes,gitignore,kateconfig,kateproject}]
end_of_line=lf
indent_style=tab
insert_final_newline=true

# Sources

[*.{ac,bash,c,cpp,h,hpp,pl,py,sh,spec,svg,wrap}]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[{CHANGELOG,COPYING,README}]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[{Makefile,meson.}*]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[*.yaml]
end_of_line=lf
indent_style=space
indent_size=2
insert_final_newline=true

# macOS-specific

[/scripts/{createDmg,framewk.sh}]
end_of_line=cr
indent_style=tab
insert_final_newline=true

# Windows-specific

[*.{bat,cmd,sln}]
end_of_line=crlf
indent_style=tab
insert_final_newline=true

[*.{nsh,nsi,vcxproj,vcxproj.filters}]
end_of_line=crlf
indent_style=space
indent_size=2
insert_final_newline=true

[*.rc]
end_of_line=crlf
indent_style=space
indent_size=4
insert_final_newline=true

[/Microsoft.VC100.CRT.manifest]
end_of_line=crlf
indent_style=space
indent_size=3
insert_final_newline=true

# Autotools

[/{depcomp,missing}]
end_of_line=lf
indent_style=space
indent_size=2
insert_final_newline=true

[/install-sh]
end_of_line=lf
indent_style=tab
insert_final_newline=true

[/mkinstalldirs]
end_of_line=lf
indent_style=space
indent_size=3
insert_final_newline=true

# Licenses

[/documentation/*.txt]
end_of_line=lf
indent_style=tab
insert_final_newline=true
