# git archive ignore
/deps/macos     export-ignore
/deps/windows   export-ignore

# Project support
.clang-format   text eol=lf
.clang-uml      text eol=lf
.editorconfig   text eol=lf
.git-blame-ignore-revs  text eol=lf
.gitattributes  text eol=lf
.gitignore      text eol=lf
.kateconfig     text eol=lf
.kateproject    text eol=lf

# Sources
*.ac            text eol=lf
*.bash          text eol=lf
*.c             text eol=lf
*.cpp           text eol=lf
*.h             text eol=lf
*.hpp           text eol=lf
*.pl            text eol=lf
*.py            text eol=lf
*.sh            text eol=lf
*.spec          text eol=lf
*.svg           text eol=lf
*.wrap          text eol=lf
*.yaml          text eol=lf
CHANGELOG       text eol=lf
COPYING         text eol=lf
Makefile*       text eol=lf
README          text eol=lf
meson.*         text eol=lf
meson_options.txt   text eol=lf

# macOS-specific
/scripts/createDmg      text eol=cr
/scripts/framewk.sh     text eol=cr

# Windows-specific
*.bat           text eol=crlf
*.cmd           text eol=crlf
*.nsh           text eol=crlf
*.nsi           text eol=crlf
*.rc            text eol=crlf
*.sln           text eol=crlf
*.vcxproj           text eol=crlf
*.vcxproj.filters   text eol=crlf
/Microsoft.VC100.CRT.manifest   text eol=crlf

# Binaries
*.bmp           binary
*.dll           binary
*.gif           binary
*.ico           binary
*.jpeg          binary
*.jpg           binary
*.ogg           binary
*.png           binary
*.ttf           binary
*.wav           binary

# Autotools
/depcomp        text eol=lf
/install-sh     text eol=lf
/missing        text eol=lf
/mkinstalldirs  text eol=lf

# Licenses
/documentation/*.txt    text eol=lf
